# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
.DS_Store

# Environment files
.env
*.env

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm IDE
.vscode/
.idea/

# macOS
.DS_Store

Github
.gitignore
